body {
  font-family: "Roboto", sans-serif;
  background-color: #1a1a1a;
  color: #e0e0e0;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #2b2b2b;
}

.header-container { 
  align-items: center;
}

.header-image-container {
  display: inline-block;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 15px;
}

.header-image-promo {
  width: 18%;
  margin-left: -5px;
}

.header-image {
  max-width: 100%; 
  height: auto;
  border-radius: 10px;
}

header h1 {
  color: #f5f5f5; 
}

.notes {
  display: none;
}

.toggle-notes {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: #383b38bd;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.toggle-notes:hover {
  background-color: #383b38bd;
}

#products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.product {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  background-color: #2b2b2b;
  border-radius: 10px;
  
  max-width: 800px;
}

.product img {
  width: 150px;
  margin-right: 20px;
  border: 2px solid #d3d3d3;
  border-radius: 10px;
}

.description h2 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: #f5f5f5;
}

.description p {
  font-size: 16px;
  line-height: 1.5;
  color: #e0e0e0;
}

.divisoria {
  border: none;
  height: 2px;
  background-color: #d3d3d3;
  width: 80%;
  margin: 40px auto;
}

.line {
  border:none;
  border-top: 1px solid rgb(128, 128, 128);
  width: 65%;
  margin: 40px auto;
}

#contact {
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact h2 {
  color: #f5f5f5;
  text-align: center;
}

#contact div {
  padding: 25px;
}

#email {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #1a1a1a;
  border-radius: 15px;
}

form input, form textarea {
  margin: 10px 0;
  padding: 15px;
  font-size: 16px;
  background-color: #333333;
  color: #f5f5f5;
  border: none;
  border-radius: 10px;
}

form input:focus, form textarea:focus {
  outline: none;
  background-color: #444444;
}

form button {
  padding: 15px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

#key {
  border-left: 1px solid rgb(128, 128, 128)
}

#key img {
  width: 250px;
  border: 1.5px solid rgb(128, 128, 128);
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #2b2b2b;
  color: #e0e0e0;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .header-image-container{
    width: 30%;
  }

  .header-image-promo {
    width: 60%;
  }

  .product, 
  #contact {
    flex-direction: column;
  }

  .description h2 {
    text-align: center;
  }

  #key {
    border-left: none;
    border-top: 1px solid rgb(128, 128, 128);
    margin-top: 75px;
    padding-top: 75px !important;
  }
}

@media (min-width: 769px) {
  .header-image-container{
    width: 8%;
  }

  .product, 
  #contact {
    flex-direction: row;
  }
}